*{
    margin: 0;
    padding: 0;
}

#top-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 45px;
    padding-left: 560px;
    background-color: black;
    padding: 0;
    margin: 0;
}

#top-nav li{
    padding-right: 22px;
    padding-top: 15px;
    font-size: 18px;
    color: white;
    margin-right: 50px;
    font-family: sans-serif;
}

#logo-title{
    position: absolute;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    top: 15px;
    left: 25px;
}

#banner{
    text-align: center;
    height: 500px;
    margin: 0;
    padding: 0;
    background-color: red;
} 