*{
    margin: 0;
    padding: 0;
}

#nav-bar{
    padding-top: 15px;
    background-color: black;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 40px;
    padding-top: 30px;
}

li a{
    padding: 20px;
    text-decoration: none;
    color: black;
    padding-top: 100px;
    color: yellow;
    font-family: cursive;
    font-size: 17px;
}

.honey{
    margin-right: 1050px;
    font-weight: bold;
}

.banner{
    height: 500px;
    background-image:url("./images/honey-bees(2).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.color-overlay{
    height: 500px;
    background-color: rgba(255,255,0,0.5);
    z-index: auto;
}

/*Opening statement*/
.open{
    padding-top: 150px;
}

.open h1{
    padding-bottom: 20px;
    font-size: 45px;
    font-family: cursive; 
    font-weight: bold;
}

#email{
    margin-bottom: 20px;
    padding: 3px;
    width: 350px;
    font-size: 14px;
    border-radius: 5px;
}

#submit{
    padding-bottom: 5px;
    font-family: cursive; 
    border: black 2px solid;
    border-radius: 5px;
    height: 30px;
    width: 10%;
    font-size: 15px;
    font-weight: bold;
    background-color:  rgba(255,255,0);
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: row;
    height: 600px;
}

.card{
    margin: 45px;
    margin-left: 75px;
    margin-right: 35px;
    width: 25%;
    height: 450px;
    border-radius: 7px;
}

.card:nth-child(1){
    background-color: red;
}

.card:nth-child(2){
    background-color: black;
}

.card:nth-child(3){
    background-color: green;
}

.info-form{
    height: 500px;
    background-color: orange;
    text-align: center;
}

.info-form h2{
    font-size: 21px;
    font-weight: bold;
    padding-top: 25px;
    text-decoration: underline;
}

footer{
    height: 50px;
    text-align: center;
    color: white;
    background-color: black;
}

footer h3{
    padding-top: 15px;
}

