*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#top-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 45px;
    padding-left: 560px;
    background-color: black;
    padding: 0;
    margin: 0;
}

#top-nav li{
    padding-right: 22px;
    padding-top: 15px;
    font-size: 18px;;
    margin-right: 50px;
    font-family: cursive;
}

a{
    text-decoration: none;
    color: yellow;
}

#logo-title{
    position: absolute;
    color: yellow;
    font-weight: bold;
    font-size: 25px;
    font-family: cursive;
    top: 8px;
    left: 35px;
}

#banner{
    text-align: center;
    height: 500px;
    margin: 0;
    padding: 0;
    background-color: yellow;
} 

#banner h2{
    font-size: 35px;
    padding-top: 190px;
    font-family: sans-serif;
    font-weight: bold;
}

#email{
    margin-top: 15px;
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

button{
    border: none;
    border-radius: 5px;
    width: 150px;
    padding: 5px;
    margin-top: 15px;
    font-size: 15px;
    background-color: black;
    color: white;
}

/** hover classes **/

button:hover{
    cursor: pointer;
}

a:hover{
    color: white;
    text-decoration: none;
}
